/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem;
}

img {
  display: block;
}

.container {
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 3rem;
}
/* profile */
.btn {
  display: inline-block;
  border: 0;
  color: inherit;
  padding: 0;
  cursor: pointer;
  font: inherit;
  background: none;
}

.btn:focus {
  outline: 0.5rem auto palevioletred;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
.profile-edit-btn {
  border-radius: 0.1rem;
  border: 1rem solid white;
  margin-left: 2rem;
  padding: 0 3rem;
  font-size: 1.3rem;
  line-height: 1.6;
}

.profile-settings-btn {
  margin-left: 1rem;
  font-size: 2rem;
}

.profile-image img {
  border-radius: 50%;
}

.profile {
  padding: 6rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-bio {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 3rem;
  line-height: 1.5;
}

.profile-user-name {
  display: inline-block;
  font-weight: lighter;
  font-size: 3rem;
}

.profile-user-settings {
  margin-top: 2px;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem);
}

.profile-stats {
  margin-top: 2rem;
}

.profile-stats li {
  display: inline-block;
  margin-right: 4rem;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 1.5;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}

/* gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
  margin: -1rem -1rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  color: #fff;
  margin: 0.6rem;
  cursor: pointer;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* loader */

.loader {
  height: 3rem;
  width: 3rem;
  margin: 0 auto;
  border: 0.5rem solid gray;
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: loader 450ms linear infinite;
}
/*loader animation*/

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
